.workLinksContainer {

  h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}
}

.customerLinks, 
.backOfficeLinks, 
.fileStoringLinks, 
.serverLinks, 
.cRMLinks, 
.reportLinks, 
.salesLinks,
.MaxWellWebsites {

}
