.workLinksContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2%;



  h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
}
