.tableContainer {

  padding: 2rem;
  border: 1 solid black;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }
  
.totalSearch {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.statusTable {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

// Classes for row colors
.statusApproved {
  background-color: #d4edda !important; // Light green background for approved
}

.approvedHeading {
  color: green
}

.statusRejected {
  background-color: #f8d7da !important; // Light red background for rejected
}
.rejectedHeading {
  color: red;
}

.statusPending {
  background-color: #fff3cd !important; // Light yellow background for pending
}

.pendingHeading {
  color: rgb(152, 152, 42);
}

